langchain-core
langchain_community
langchain
langsmith
langchain-openai
langchain-anthropic
langgraph
langgraph-cli
langgraph-sdk
pydantic
pydantic_core
dotenv
browserbase
playwright
bs4
fastapi
random
